@model PrintBed.Models.PrintFile

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete @Html.DisplayFor(model => model.DisplayName)?!</h1>
<h3 class="text-danger-emphasis">Are You Sure You Want to Delete This File?</h3>
<h5 class="text-danger-emphasis">This File and All Details will be Deleted Permanently</h5>
<hr />
<div class="container">
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            Full File Path
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath    )
        </dd>
        <dt class = "col-sm-2">
            File Type
        </dt>
        <dd class = "col-sm-10">
            @Model.FileType?.Name
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Prints" asp-route-id="@Model.PrintId">No Go Back!</a>
    </form>
</div>
