@model PrintBed.Models.PrintFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrintFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dd class="col-sm-10">
            File Type ID
            @Html.DisplayFor(model => model.FileTypeId)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Print)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Print.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
