@model PrintBed.Models.SettingsPage
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Settings</h1>
<div class="mb-5 container">

    <div class="row">
        <div class="col">
            <h3>Creators</h3>
        </div>
        <div class="col text-end"><a class="btn btn-success btn-sm simpleEditModal-btn" data-action="create" data-controller="Creators" data-title="Add New Creator" data-id="new">Add New Creator</a></div>
    </div>
    <div class="row">
        <div class="col-1 border">Image</div>
        <div class="col-8 border">Name</div>
        <div class="col-1 border">Prints</div>
        <div class="col-2 border"></div>
     </div>
    @foreach(var creator in Model.Creators)
    {
        <div class="row">
            <div class="col-1 border text-center"><img class="img-icon m-1" src="@creator.ImagePath" /></div>
            <div class="col-8 border">
                @creator.Name
            </div>
            <div class="col-1 border">@creator.Prints.Count</div>
            <div class="col-2 border">

                <a class="btn btn-outline-secondary btn-sm simpleEditModal-btn" data-action="edit" data-controller="Creators" data-title="Edit Creator @creator.Name" data-name="@creator.Name" data-id="@creator.Id"><span class="badge"><img class="img-icon-sm me-2" src="~/img/pencil.png" />Edit</span></a>
                @if (creator.Id != "0")
                {
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Delete" asp-controller="Creators" asp-route-id="@creator.Id"><span class="badge"><img src="/img/garbage.png" class="img-icon-sm me-2" alt="Delete" />Delete</span></a>
                }
            </div>
         </div>
    }
</div>

<div class="mb-5 container">
    <div class="row">
        <div class="col">
            <h3>Categories</h3>
        </div>
        <div class="col text-end"><a class="btn btn-success btn-sm  simpleEditModal-btn" data-action="create" data-controller="Categories" data-title="Add New Category" data-id="new">Add New Category</a></div>
    </div>
    <div class="row">
        <div class="col-1 border">Image</div>
        <div class="col-8 border">Name</div>
        <div class="col-1 border">Prints</div>
        <div class="col-2 border"></div>
    </div>
    @foreach(var category in Model.Categories)
    {
        <div class="row">
            <div class="col-1 border text-center"><img class="img-icon m-1" src="@category.ImagePath" /></div>
            <div class="col-8 border">
                @category.Name
            </div>
            <div class="col-1 border">@category.Prints.Count</div>
            <div class="col-2 border">

                <a class="btn btn-outline-secondary btn-sm simpleEditModal-btn" data-action="edit" data-controller="Categories" data-title="Edit Creator @category.Name" data-name="@category.Name" data-id="@category.Id"><span class="badge"><img class="img-icon-sm me-2" src="~/img/pencil.png" />Edit</span></a>
                @if (category.Id != "0")
                {
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Delete" asp-controller="Categories" asp-route-id="@category.Id"><span class="badge"><img src="/img/garbage.png" class="img-icon-sm me-2" alt="Delete" />Delete</span></a>
                }
            </div>
        </div>
    }
</div>

<div class="mb-5 container">
    <div class="row">
        <div class="col">
            <h3>Tags</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-9 border">Name</div>
        <div class="col-1 border">Prints</div>
        <div class="col-2 border"></div>
    </div>
    @foreach (var tag in Model.Tags)
    {
        <div class="row">
            <div class="col-9 border">
                @tag.Name
            </div>
            <div class="col-1 border">@tag.PrintTags.Count</div>
            <div class="col-2 border">
                <button class=" btn delete-btn" data-controller="Tags" data-id="@tag.Id"><img class="img-icon-sm" src="~/img/garbage.png" /></button>
            </div>
        </div>
    }
</div>


<partial name="Modal_simpleEditModal" />


@section Scripts {
    <script>



    </script>
}